<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Список игр</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Список игр</h1>-->
<!--    <ul>-->
<!--        {% for game in games %}-->
<!--            <li>{{ game.title }} - {{ game.description }} (Стоимость: {{ game.cost }})</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список игр</title>
</head>
<body>
    <h1>Список игр</h1>
    <ul>
        {% for game in games %}
            <li>{{ game.title }} - {{ game.description }} (Стоимость: {{ game.cost }})</li>
        {% endfor %}
    </ul>
</body>
</html>
